<h2>Users <a href="/admin/users/new" class="btn btn-success">New</a></h2>
<ul class="list-group">
  {{#each users}}
  {{# if hidden}}
  {{ else }}

  <div class="card" style="width: 18rem;">
    <img src="https://cnes.fr/sites/default/files/drupal/201609/image/is-soho-proche-soleil.jpg" class="card-img-top"
      alt="...">
    <div class="card-body">
      <h5 class="card-title">{{username}}</h5>
      <p class="card-text">{{quote}}
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Role : {{role}}</li>
    </ul>
    <div class="card-body">
      <a href="/users/delete/{{_id}}" class="card-link">Supprimer</a>
      <a href="/users/archive/{{_id}}" class="card-link">Archiver</a>
      <a href="/users/edit/{{_id}}" class="card-link">Editer</a>
    </div>
  </div>
  {{!-- <li class="list-group-item">{{username}} -- <a class="btn btn-danger btn-sm" href="/users/delete/{{_id}}">Delete</a>
    -- <a class="btn btn-warning btn-sm" href="/users/archive/{{_id}}">Archiver</a></li> --}}
  {{/ if}}
  {{/each}}
</ul>

{{!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{username}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{role}}</li>
  </ul>
  <div class="card-body">
    <a href="/users/delete/{{_id}}" class="card-link">Supprimer</a>
    <a href="/users/archive/{{_id}}" class="card-link">Archiver</a>
    <a href="/users/edit/{{_id}}" class="card-link">Editer</a>
  </div>
</div> --}}